---
import Dashboard from "@/layouts/Dashboard.astro";
import {HabitatForm} from "@components/forms/HabitatForm"
import {HabitatList} from "@components/lists/HabitatList"

---

<Dashboard title="Wild Zoo - Habitats">
    <div class="space-y-8">
        <h1 class="text-3xl font-bold uppercase">Gestión de Habitats</h1>
        
        <div class="w-full max-w-lg">
            <h2 class="text-xl font-semibold mb-4">Crear nueva habitat</h2>
            <HabitatForm client:only="react" />
        </div>

        <div>
            <h2 class="text-xl font-semibold mb-4">Lista de Habitats</h2>
             <HabitatList client:only="react"/>
        </div>
    </div>
</Dashboard>